{% extends 'base.html.twig' %}

{% block body %}
    {% for restaurant in restaurants %}
        <div>
            <p>{{ restaurant.grade }}</p>
            <p>{{ restaurant.score }}</p>
            <p>{{ restaurant.facilityName }}</p>
            <p>En savoir plus</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}